body {
    margin: 0;
    font-family: 'Courier New', monospace;
    background: #0a0a0a; /*#F3DE2C, alternative*/
    color: #F3DE2C;
    overflow-x: hidden;
    position: relative;
}


header{
    background-color: #FB6107;
    color: #0a0a0a;
    text-align: center;
    padding: 1.5rem;
    font-size: 2rem;
    border-bottom: 3px solid #F3DE2C;
}

nav{
    background-color: #5C8001;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    border-bottom: 3px solid #7CB518;
}

nav a{
    color: #F3DE2C;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}
