body {
    margin: 0;
    font-family: 'Courier New', monospace;
    background: #0a0a0a; /*#F3DE2C, alternative*/
    color: #F3DE2C;
    overflow-x: hidden;
    position: relative;
}


header{
    background-color: #FB6107;
    color: #0a0a0a;
    text-align: center;
    padding: 1.5rem;
    font-size: 2rem;
    border-bottom: 3px solid #F3DE2C;
}

nav{
    background-color: #5C8001;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    border-bottom: 3px solid #7CB518;
}

nav a{
    color: #F3DE2C;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

section{
    margin: auto;
    max-width: 900px;
}

h2{
    color: #FBB02D;
    border-bottom: 2px solid #7CB518;
    padding-bottom: 0.5rem;
}

section.below{
    margin-top: 4em;
}

span.email{
    color: #FB6107;
}

div.icons{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

img.icon{
    width: 48px;
    height: 48px;
    transition: all ease .2s;
}

img.icon:hover{
    scale: 1.05;
}

img.icon:active{
    scale: 1.1;
}